body {
	background-image: url("mario.png");
    background-size: 92%
    
   
}
.header{
	color: 
}
h2{
	
	
	font-family: 'Press Start 2P', cursive;
	color:white;
	border-color: blue;
}
small{
	color: 
}
h3 {
	font-size: 20px;
	color:white;
}

.jumbotron {

	background-color: transparent;
}

.panel-heading {

	background-color: transparent;
}
.guess{
   
	background-color: transparent;
   border: none;
   color: white;
   font-family: 'Press Start 2P', cursive;

}

.wrongguesses,.guessesleft,.wins,.losses{
float:right;
background-color: transparent;
   border-color: transparent;
   color: white;
   font-size: 16px;
   font-family: 'Press Start 2P', cursive;
}

.ansalert{
	background-color: red;
}